{% extends 'base.html' %}

{% block content %}
    <div class="mar">
        <div class="card-body">
            <div class="textBox center" style="max-width: 700px;">
                <h1>welcome, you are now logged in!</h1>
            </div>

            <div class="mar">
                <div class="card-body">
                    <table class="center table table-striped">
                        <form action="" method="post">

                            {% csrf_token %}

                            <input type="text" name="txt">
                            <button type="Submit" name="sendtext" class="btn btn-info">send</button>

                            {% for e in messeges %}
                            
                                <tr>
                                    <td>{{e.text}}</td>
                                </tr>
    
                            {% endfor %}

                        </form>
                    </table>
                </div>
            </div>
        </div>

    </div>
    
{% endblock %}
